USE [master]
GO
/****** Object:  Database [webprog]    Script Date: 13/05/2016 16:45:29 ******/
CREATE DATABASE [webprog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'webprog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\webprog.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'webprog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\webprog_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webprog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webprog]
GO
/****** Object:  Table [dbo].[Abonnement]    Script Date: 13/05/2016 16:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abonnement](
	[Abo_id] [numeric](18, 0) NOT NULL,
	[Abo_team_id] [numeric](18, 0) NOT NULL,
	[Abo_login] [nchar](50) NOT NULL,
	[Abo_Seizoen] [numeric](18, 0) NOT NULL,
	[Abo_ticket_type] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_Abonnement] PRIMARY KEY CLUSTERED 
(
	[Abo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[login]    Script Date: 13/05/2016 16:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[login] [nchar](50) NOT NULL,
	[password] [nchar](255) NOT NULL,
	[name] [nchar](255) NULL,
	[e-mail] [nchar](255) NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[match]    Script Date: 13/05/2016 16:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[match](
	[match_id] [numeric](18, 0) NOT NULL,
	[match_hometeam_id] [numeric](18, 0) NOT NULL,
	[match_date] [date] NOT NULL,
	[match_awayteam_id] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_match] PRIMARY KEY CLUSTERED 
(
	[match_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[seizoen]    Script Date: 13/05/2016 16:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seizoen](
	[Seizoen_id] [numeric](18, 0) NOT NULL,
	[Seizoen_start] [date] NOT NULL,
	[Seizoen_einde] [date] NOT NULL,
 CONSTRAINT [PK_seizoen] PRIMARY KEY CLUSTERED 
(
	[Seizoen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[stadion]    Script Date: 13/05/2016 16:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stadion](
	[Stadion_id] [numeric](18, 0) NOT NULL,
	[Stadion_name] [nchar](50) NOT NULL,
	[Stadion_description] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[team]    Script Date: 13/05/2016 16:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[team](
	[team_id] [numeric](18, 0) NOT NULL,
	[team_name] [nchar](255) NOT NULL,
	[team_description] [text] NULL,
	[team_stadion_id] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_team] PRIMARY KEY CLUSTERED 
(
	[team_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ticket]    Script Date: 13/05/2016 16:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket](
	[ticket_id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ticket_type] [numeric](18, 0) NOT NULL,
	[match_id] [numeric](18, 0) NOT NULL,
	[login] [nchar](50) NOT NULL,
 CONSTRAINT [PK_ticket] PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ticket_team]    Script Date: 13/05/2016 16:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket_team](
	[ticket_type_id] [numeric](18, 0) NOT NULL,
	[team_id] [numeric](18, 0) NOT NULL,
	[ticket_price] [real] NOT NULL,
	[ticket_amount] [numeric](18, 0) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ticket_type]    Script Date: 13/05/2016 16:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket_type](
	[ticket_type_id] [numeric](18, 0) NOT NULL,
	[ticket_type_name] [nchar](255) NOT NULL,
	[ticket_type_hometeam] [bit] NOT NULL,
 CONSTRAINT [PK_ticket_type] PRIMARY KEY CLUSTERED 
(
	[ticket_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[match] ([match_id], [match_hometeam_id], [match_date], [match_awayteam_id]) VALUES (CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(N'2016-06-06' AS Date), CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[match] ([match_id], [match_hometeam_id], [match_date], [match_awayteam_id]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(N'2016-05-03' AS Date), CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[match] ([match_id], [match_hometeam_id], [match_date], [match_awayteam_id]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), CAST(N'2016-05-03' AS Date), CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[seizoen] ([Seizoen_id], [Seizoen_start], [Seizoen_einde]) VALUES (CAST(0 AS Numeric(18, 0)), CAST(N'2015-03-01' AS Date), CAST(N'2015-07-01' AS Date))
INSERT [dbo].[seizoen] ([Seizoen_id], [Seizoen_start], [Seizoen_einde]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(N'2016-03-01' AS Date), CAST(N'2016-07-01' AS Date))
INSERT [dbo].[seizoen] ([Seizoen_id], [Seizoen_start], [Seizoen_einde]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(N'2017-03-01' AS Date), CAST(N'2017-07-01' AS Date))
INSERT [dbo].[stadion] ([Stadion_id], [Stadion_name], [Stadion_description]) VALUES (CAST(1 AS Numeric(18, 0)), N'Jan Breydelstadion                                ', N'Het Jan Breydelstadion, tot 1998 het Olympiastadion, is een voetbalstadion in de stad Brugge, gelegen in de deelgemeente Sint-Andries. Het stadion is eigendom van de stad Brugge en is de thuishaven van stadsrivalen Club Brugge en Cercle Brugge, die het stadion exploiteren.')
INSERT [dbo].[stadion] ([Stadion_id], [Stadion_name], [Stadion_description]) VALUES (CAST(2 AS Numeric(18, 0)), N'Ghelamco Arena                                    ', N'De Ghelamco Arena of het Arteveldestadion is het huidig stadion van de Belgische voetbalclub AA Gent, de grootste club uit de stad Gent. Het stadion werd op 17 juli 2013 geopend met een wedstrijd tegen het Duitse VfB Stuttgart.')
SET IDENTITY_INSERT [dbo].[ticket] ON 

INSERT [dbo].[ticket] ([ticket_id], [ticket_type], [match_id], [login]) VALUES (CAST(99 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), N'Pieter                                            ')
INSERT [dbo].[ticket] ([ticket_id], [ticket_type], [match_id], [login]) VALUES (CAST(100 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), N'Pieter                                            ')
INSERT [dbo].[ticket] ([ticket_id], [ticket_type], [match_id], [login]) VALUES (CAST(101 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), N'Pieter                                            ')
SET IDENTITY_INSERT [dbo].[ticket] OFF
INSERT [dbo].[ticket_team] ([ticket_type_id], [team_id], [ticket_price], [ticket_amount]) VALUES (CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), 9.99, CAST(1000 AS Numeric(18, 0)))
INSERT [dbo].[ticket_team] ([ticket_type_id], [team_id], [ticket_price], [ticket_amount]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), 9.99, CAST(1000 AS Numeric(18, 0)))
INSERT [dbo].[ticket_team] ([ticket_type_id], [team_id], [ticket_price], [ticket_amount]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), 9.99, CAST(1000 AS Numeric(18, 0)))
INSERT [dbo].[ticket_type] ([ticket_type_id], [ticket_type_name], [ticket_type_hometeam]) VALUES (CAST(0 AS Numeric(18, 0)), N'Onderste ring achter het doel                                                                                                                                                                                                                                  ', 1)
INSERT [dbo].[ticket_type] ([ticket_type_id], [ticket_type_name], [ticket_type_hometeam]) VALUES (CAST(1 AS Numeric(18, 0)), N'Onderste ring achter het doel                                                                                                                                                                                                                                  ', 0)
INSERT [dbo].[ticket_type] ([ticket_type_id], [ticket_type_name], [ticket_type_hometeam]) VALUES (CAST(2 AS Numeric(18, 0)), N'Onderste ring zijlijn Oost                                                                                                                                                                                                                                     ', 1)
ALTER TABLE [dbo].[Abonnement]  WITH CHECK ADD  CONSTRAINT [FK_Abonnement_Abonnement] FOREIGN KEY([Abo_id])
REFERENCES [dbo].[Abonnement] ([Abo_id])
GO
ALTER TABLE [dbo].[Abonnement] CHECK CONSTRAINT [FK_Abonnement_Abonnement]
GO
ALTER TABLE [dbo].[Abonnement]  WITH CHECK ADD  CONSTRAINT [FK_Abonnement_seizoen] FOREIGN KEY([Abo_id])
REFERENCES [dbo].[seizoen] ([Seizoen_id])
GO
ALTER TABLE [dbo].[Abonnement] CHECK CONSTRAINT [FK_Abonnement_seizoen]
GO
ALTER TABLE [dbo].[seizoen]  WITH CHECK ADD  CONSTRAINT [FK_seizoen_seizoen] FOREIGN KEY([Seizoen_id])
REFERENCES [dbo].[seizoen] ([Seizoen_id])
GO
ALTER TABLE [dbo].[seizoen] CHECK CONSTRAINT [FK_seizoen_seizoen]
GO
USE [master]
GO
